body {
    background: rgb(207, 207, 207);
    margin-left: 50px;
}

h1 {
    color: rgb(50,50,50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

h2 {
    color: rgb(50,50,50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

p {
    color: rgb(50,50,50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: rgb(50,50,50);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header {
    margin-top: 50px;
}

footer {
    margin-bottom: 50px;
}

.portfolio {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 30px;
}